
html { 
    -webkit-font-smoothing: antialiased; 
}

body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif; 
}

/* ---- NAVIGATION ---- */

.navbar-nav {
  float:none;
  margin: 0 auto;
  display: table;
  table-layout: fixed;
}
.navbar-default {
  background-color: #ffffff;
  border-color: transparent;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}
.navbar-default .navbar-brand img {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  color: #333333;
  font-size: 15px;
  font: 300 1em/1.5em 'Didot';
  font: Ultra-Light 300 1em/1.5em 'Didot';
  font: Ultra-Light 300 1em/1.5em 'Didot', serif;
  width: 100px;
  margin-top: -20px;
}
/*
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #ffffff;
}
*/
.navbar-default .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-default .navbar-toggle {
  background-color: #ffffff;
  border-color: transparent;
  border-radius: 0;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}
.navbar-toggle .icon-bar{
  background-color: #333333;
  height: 1px;
  width: 30px; 
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .nav li a {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  color: #333333;
  text-transform: capitalize;
  font-size: 14px;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  color: #00e5e5;
  outline: none;
}
.navbar-default .navbar-nav > .active > a {
  border-radius: 0;
  color: black;
  background-color: white;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: black;
  background-color: #fec503;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: #ffffff;
    padding: -5px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  }
  .navbar-default .navbar-brand img {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    color: #333333;
    font-size: 15px;
    font: 300 1em/1.5em 'Didot';
    font: Ultra-Light 300 1em/1.5em 'Didot';
    font: Ultra-Light 300 1em/1.5em 'Didot', serif;
    width: 100px;
    margin-top: -20px;
  }
  .navbar-default .navbar-nav > .active > a {
    border-radius: 0;
  }
}
@media (min-width: 768px) {
  .navbar-default.affix {
    background-color: #ffffff;
    padding: 15px 0;
  }
  .navbar-default .nav li a {
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    color: #333333;
    text-transform: capitalize;
    font-size: 14px;
  }
  .navbar-default.affix .navbar-brand {
    font-size: 12px;
  }
}

/* ---- NAVIGATION ---- */


/* ---- HEADER ---- */

.header-image-position {
  margin-top: 50px;
}

.header-bg {
  background-image: url('../img/third-hero-image.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-size: 1350px;
}

.header-bg-position {
  padding-top: 200px;
  padding-bottom: 180px;
}

/* ---- HEADER ---- */


/* ---- MY NAME HEADING ---- */

.my-title-heading-position {
  margin-top: 80px;
}

.my-title-heading {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  color: #333333;
  font-size: 50px;
  line-height: 30px;
}

.my-name-heading {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  color: #333333;
  font-size: 17px;
}

.learn-more-button {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 18px;
  padding: 15px 45px;
  border-radius: 0;
  border-color: transparent;
  background: #222222;
  color: #ffffff;
}

/* ---- MY NAME HEADING ---- */


/* ---- INTRODUCTION SECTION ---- */

.thank-you-text-bg-image {
  background-image: url('../img/feathers.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.thank-you-box-padding {
  padding-bottom: 700px;
}

.thank-you-title {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  color: #333333;
  font-size: 40px;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 50px;
  padding-right: 20px;
}

.thank-you-text {
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333333;
  line-height: 28px;
}

.contact-me-button {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 18px;
  padding: 15px 45px;
  border-radius: 0;
  border-color: transparent;
  background: #222222;
  color: #ffffff;
}

.intro-text-bg-color {
  background-color: #ffffff;
}

.intro-box-text-padding {
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 20px;
  padding-right: 20px;
}

.quote-text {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  color: #333333;
  font-size: 25px;
}

hr.style-intro {
  border-top: 1px solid #333333;
  height: 5px; 
  width: 600px;
}

.intro-title {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 40px;
  color: #333333;
}

.intro-text-style {
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #222222;
  line-height: 28px;
}

.intro-box-padding {
  padding-bottom: 700px;
}

.intro-text-bg-image {
  background-image: url('../img/bubbles.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.skills-text-bg-image {
  background-image: url('../img/skills.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 600px;
}

.skills-box-padding {
  padding-top: 400px;
  padding-bottom: 400px;
}

.skills-text-bg-color {
  background-color: #ffffff;
  margin-top: 140px;
}

.skills-box-text-padding {
  padding-top: 70px;
  padding-bottom: 90px;
  padding-left: 80px;
  padding-right: 80px;
}

.skills-title {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 40px;
  color: #333333;
}

hr.style-skills {
  border-top: 1px solid #333333;
  height: 1px; 
  width: 140px;
}

.skills-text-style {
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333333;
  line-height: 28px;
}

.portfolio-bg-image {
  background-color: #ffffff;
}

.portfolio-box-text-padding {
  padding-top: 365px;
  padding-bottom: 400px;
}

.portfolio-title {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-weight: 700;
  font-size: 28px;
  color: #333333;
  letter-spacing: 2px;
}

.portfolio-bottom-border {
  border-bottom: 15px solid #ffffff;
}

.portfolio-box-color {
  background-color: #00e5e5;
  border-right: 15px solid #ffffff;
}

.portfolio-padding-space {
  padding-top: 100px;
  padding-bottom: 100px;
}
