
html { 
    -webkit-font-smoothing: antialiased; 
}

body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif; 
}

.navbar-custom {
  background: transparent;
  font: 300 1em/1.5em 'Lato';
  font: Ultra-Light 300 1em/1.5em 'Lato';
  font: Ultra-Light 300 1em/1.5em 'Lato', sans-serif;
  border: none;
}
.navbar-custom a:focus {
  outline: none;
}
.navbar-custom .navbar-brand {
  font: 400 1em/1.5em 'Lato';
  font: Ultra-Light 400 1em/1.5em 'Lato';
  font: Ultra-Light 400 1em/1.5em 'Lato', sans-serif;
  color: black;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: black;
  text-transform: uppercase;
}
.navbar-custom .navbar-nav {
  letter-spacing: 0;
}
.navbar-custom .navbar-nav li a {
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
}
.navbar-custom .navbar-nav li a:hover {
  color: #18BC9C;
  outline: none;
}
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: black;
}
.navbar-custom .navbar-nav li.active a {
  color: black;
  background: #18BC9C;
}
.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  color: black;
  background: #18BC9C;
}
.navbar-custom .navbar-toggle {
  color: black;
  text-transform: uppercase;
  font-size: 10px;
  border-color: black;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #18BC9C;
  color: white;
  border-color: #18BC9C;
}

@media (min-width: 768px) {
  .navbar-custom {
    padding: 10px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-custom .navbar-brand {
    font: 400 1em/1.5em 'Lato';
    font: Ultra-Light 400 1em/1.5em 'Lato';
    font: Ultra-Light 400 1em/1.5em 'Lato', sans-serif;
    font-size: 13px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    letter-spacing: 2px;
    color: black;
  }
  .navbar-custom.affix {
    padding: 20px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}



section.module:last-child {
  margin-bottom: 0;
}

section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
  color: black;
}

section.module p:last-child {
  margin-bottom: 0;
}

section.module.parallax {
  height: 780px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section.module.parallax-2 h1 {
  font-weight: 300;
  color: black;
  font-size: 50px;
  line-height: 600px;
  text-align: right;
  letter-spacing: 2px;
} 

section.module.parallax-3 h1 {
  font-weight: 300;
  color: black;
  font-size: 50px;
  line-height: 600px;
  text-align: right;
  letter-spacing: 2px;
} 

section.module.parallax-4 h1 {
  font-weight: 300;
  color: black;
  font-size: 50px;
  line-height: 600px;
  text-align: right;
  letter-spacing: 2px;
}

section.module.parallax-1 {
  /*min-height: 100%;*/
  background-image: url('../img/me.jpg');
  background-size: cover;
  /*box-shadow:inset 0 0 0 2000px rgba(255,255,255,0.3);*/
}

section.module.parallax-2 {
  background-image: url('../img/soumontha-rattanakone-eyewoman.jpg');
}

section.module.parallax-3 {
  background-image: url('../img/soumontha-rattanakone-watercolor.jpg');
}

section.module.parallax-4 {
  background-image: url('../img/soumontha-rattanakone-fox.jpg');
}

section.module.parallax-5 {
  background-image: url('../img/soumontha-rattanakone-citycouple.jpg');
}

section.module.content {
  background: white;
  padding: 200px;
}

#mycompany img{
  margin-top: 300px; 
  font: 100 1em/1.5em 'Lato';
  font: Ultra-Light 100 1em/1.5em 'Lato';
  font: Ultra-Light 100 1em/1.5em 'Lato', sans-serif;
  font-size: 90px;
  color: black;
  letter-spacing: 2px;
  width: 55%;
}

#mytitle {
  font: 300 1em/1.5em 'Roboto';
  font: Ultra-Light 300 1em/1.5em 'Roboto';
  font: Ultra-Light 300 1em/1.5em 'Roboto', sans-serif;
  font-size: 25px;
  color: white;
  text-align: center;
  /*background: rgba(255, 255, 255, 0.2);*/
  letter-spacing: 4px;
  margin-top: -20px;
}

#mydownarrow {
  color: white;
  margin-top: 200px;
  text-align: center;
}

#myseconddownarrow {
  color: black;
}

#myimage {
  margin-top: 7px;
}

#myintro {
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  color: #43464b;
}

.myheadingone {
  font-weight: 700;
  font-size: 35px;
  letter-spacing: 6px;
  color: black;
}

#myskills {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1px;
  color: black;
}

.space-images {
  padding-bottom: 300px;
}

.exercise {
  background-image: url('../img/soumontha-rattanakone-exercise.jpg');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  opacity: 1;
  filter: alpha(opacity=40);
}

.exercise:hover {
  opacity: 0.7;
  filter: alpha(opacity=100);
}

.video {
  background-image: url('../img/soumontha-rattanakone-icecream.jpg');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  opacity: 1;
  filter: alpha(opacity=40);
}

.video:hover {
  opacity: 0.7;
  filter: alpha(opacity=100);
}

.monkey {
  background-image: url('../img/soumontha-rattanakone-monkey.jpeg');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  opacity: 1;
  filter: alpha(opacity=40);
}

.monkey:hover {
  opacity: 0.7;
  filter: alpha(opacity=100);
}

.food {
  background-image: url('../img/soumontha-rattanakone-noodles.jpg');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  opacity: 1;
  filter: alpha(opacity=40);
}

.food:hover {
  opacity: 0.7;
  filter: alpha(opacity=100);
}

.mountain {
  background-image: url('../img/soumontha-rattanakone-mountain.jpeg');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  opacity: 1;
  filter: alpha(opacity=40);
}

.mountain:hover {
  opacity: 0.7;
  filter: alpha(opacity=100);
}

.makeup {
  background-image: url('../img/soumontha-rattanakone-makeup.png');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  opacity: 1;
  filter: alpha(opacity=40);
}

.makeup:hover {
  opacity: 0.7;
  filter: alpha(opacity=100);
}

.fortune {
  background-image: url('../img/soumontha-rattanakone-fortune-cookie.jpg');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  opacity: 1;
  filter: alpha(opacity=40);
}

.fortune:hover {
  opacity: 0.7;
  filter: alpha(opacity=100);
}

.deer {
  background-image: url('../img/soumontha-rattanakone-deer.png');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  opacity: 1;
  filter: alpha(opacity=40);
}

.deer:hover {
  opacity: 0.7;
  filter: alpha(opacity=100);
}

.bernard {
  background-image: url('../img/soumontha-rattanakone-bernardablola.jpg');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  opacity: 1;
  filter: alpha(opacity=40);
}

.bernard:hover {
  opacity: 0.7;
  filter: alpha(opacity=100);
}

.blind-heart {
  background-image: url('../img/soumontha-rattanakone-eyewoman.jpg');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  opacity: 1;
  filter: alpha(opacity=40);
}

.blind-heart:hover {
  opacity: 0.7;
  filter: alpha(opacity=100);
}

.mountain-woman {
  background-image: url('../img/soumontha-rattanakone-mountains.jpg');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  opacity: 1;
  filter: alpha(opacity=40);
}

.mountain-woman:hover {
  opacity: 0.7;
  filter: alpha(opacity=100);
}

.watercolor-man {
  background-image: url('../img/soumontha-rattanakone-watercolor.jpg');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  opacity: 1;
  filter: alpha(opacity=40);
}

.watercolor-man:hover {
  opacity: 0.7;
  filter: alpha(opacity=100);
}

.fox {
  background-image: url('../img/soumontha-rattanakone-fox-gallery.jpg');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  opacity: 1;
  filter: alpha(opacity=40);
}

.fox:hover {
  opacity: 0.7;
  filter: alpha(opacity=100);
}

.city-couple {
  background-image: url('../img/soumontha-rattanakone-citycouple.jpg');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  opacity: 1;
  filter: alpha(opacity=40);
}

.city-couple:hover {
  opacity: 0.7;
  filter: alpha(opacity=100);
}

.exercise-title {
  font: 900 1em/1.5em 'Lato';
  font: Ultra-Light 900 1em/1.5em 'Lato';
  font: Ultra-Light 900 1em/1.5em 'Lato', sans-serif;
  margin-left: 15px;
  font-size: 13px;
  padding-top: 25px;
  color: black;
  letter-spacing: 1px;
}

.exercise-source {
  font: 300 1em/1.5em 'Lato';
  font: Ultra-Light 300 1em/1.5em 'Lato';
  font: Ultra-Light 300 1em/1.5em 'Lato', sans-serif;
  margin-left: 15px;
  font-size: 12px;
  padding-top: 2px;
  color: black;
  letter-spacing: 1px;
}

.video-title {
  font: 900 1em/1.5em 'Lato';
  font: Ultra-Light 900 1em/1.5em 'Lato';
  font: Ultra-Light 900 1em/1.5em 'Lato', sans-serif;
  margin-left: 15px;
  font-size: 13px;
  padding-top: 25px;
  color: black;
  letter-spacing: 1px;
}

.video-source {
  font: 300 1em/1.5em 'Lato';
  font: Ultra-Light 300 1em/1.5em 'Lato';
  font: Ultra-Light 300 1em/1.5em 'Lato', sans-serif;
  margin-left: 15px;
  font-size: 12px;
  padding-top: 2px;
  color: black;
  letter-spacing: 1px;
}

.monkey-title {
  font: 900 1em/1.5em 'Lato';
  font: Ultra-Light 900 1em/1.5em 'Lato';
  font: Ultra-Light 900 1em/1.5em 'Lato', sans-serif;
  margin-left: 15px;
  font-size: 13px;
  padding-top: 25px;
  color: black;
  letter-spacing: 1px;
}

.monkey-source {
  font: 300 1em/1.5em 'Lato';
  font: Ultra-Light 300 1em/1.5em 'Lato';
  font: Ultra-Light 300 1em/1.5em 'Lato', sans-serif;
  margin-left: 15px;
  font-size: 12px;
  padding-top: 2px;
  color: black;
  letter-spacing: 1px;
}

.food-title {
  font: 900 1em/1.5em 'Lato';
  font: Ultra-Light 900 1em/1.5em 'Lato';
  font: Ultra-Light 900 1em/1.5em 'Lato', sans-serif;
  margin-left: 15px;
  font-size: 13px;
  padding-top: 25px;
  color: black;
  letter-spacing: 1px;
}

.food-source {
  font: 300 1em/1.5em 'Lato';
  font: Ultra-Light 300 1em/1.5em 'Lato';
  font: Ultra-Light 300 1em/1.5em 'Lato', sans-serif;
  margin-left: 15px;
  font-size: 12px;
  padding-top: 2px;
  color: black;
  letter-spacing: 1px;
}

.mountain-title {
  font: 900 1em/1.5em 'Lato';
  font: Ultra-Light 900 1em/1.5em 'Lato';
  font: Ultra-Light 900 1em/1.5em 'Lato', sans-serif;
  margin-left: 15px;
  font-size: 13px;
  padding-top: 25px;
  color: black;
  letter-spacing: 1px;
}

.mountain-source {
  font: 300 1em/1.5em 'Lato';
  font: Ultra-Light 300 1em/1.5em 'Lato';
  font: Ultra-Light 300 1em/1.5em 'Lato', sans-serif;
  margin-left: 15px;
  font-size: 12px;
  padding-top: 2px;
  color: black;
  letter-spacing: 1px;
}

.makeup-title {
  font: 900 1em/1.5em 'Lato';
  font: Ultra-Light 900 1em/1.5em 'Lato';
  font: Ultra-Light 900 1em/1.5em 'Lato', sans-serif;
  margin-left: 15px;
  font-size: 13px;
  padding-top: 25px;
  color: black;
  letter-spacing: 1px;
}

.makeup-source {
  font: 300 1em/1.5em 'Lato';
  font: Ultra-Light 300 1em/1.5em 'Lato';
  font: Ultra-Light 300 1em/1.5em 'Lato', sans-serif;
  margin-left: 15px;
  font-size: 12px;
  padding-top: 2px;
  color: black;
  letter-spacing: 1px;
}

.fortune-title {
  font: 900 1em/1.5em 'Lato';
  font: Ultra-Light 900 1em/1.5em 'Lato';
  font: Ultra-Light 900 1em/1.5em 'Lato', sans-serif;
  margin-left: 15px;
  font-size: 13px;
  padding-top: 25px;
  color: black;
  letter-spacing: 1px;
}

.fortune-source {
  font: 300 1em/1.5em 'Lato';
  font: Ultra-Light 300 1em/1.5em 'Lato';
  font: Ultra-Light 300 1em/1.5em 'Lato', sans-serif;
  margin-left: 15px;
  font-size: 12px;
  padding-top: 2px;
  color: black;
  letter-spacing: 1px;
}

.deer-title {
  font: 900 1em/1.5em 'Lato';
  font: Ultra-Light 900 1em/1.5em 'Lato';
  font: Ultra-Light 900 1em/1.5em 'Lato', sans-serif;
  margin-left: 15px;
  font-size: 13px;
  padding-top: 25px;
  color: black;
  letter-spacing: 1px;
}

.deer-source {
  font: 300 1em/1.5em 'Lato';
  font: Ultra-Light 300 1em/1.5em 'Lato';
  font: Ultra-Light 300 1em/1.5em 'Lato', sans-serif;
  margin-left: 15px;
  font-size: 12px;
  padding-top: 2px;
  color: black;
  letter-spacing: 1px;
}

.bernard-title {
  font: 900 1em/1.5em 'Lato';
  font: Ultra-Light 900 1em/1.5em 'Lato';
  font: Ultra-Light 900 1em/1.5em 'Lato', sans-serif;
  margin-left: 15px;
  font-size: 13px;
  padding-top: 25px;
  color: black;
  letter-spacing: 1px;
}

.bernard-source {
  font: 300 1em/1.5em 'Lato';
  font: Ultra-Light 300 1em/1.5em 'Lato';
  font: Ultra-Light 300 1em/1.5em 'Lato', sans-serif;
  margin-left: 15px;
  font-size: 12px;
  padding-top: 2px;
  color: black;
  letter-spacing: 1px;
}

.project-button {
  padding: 1px 20px;
  border-radius: 0;
  border-color: transparent;
  display: inline-block;
  font-size: 30px;
  background: white;
  color: black;
  margin-top: 170px;
  margin-left: 170px;
}

.project-button-second {
  padding: 1px 20px;
  border-radius: 0;
  border-color: transparent;
  display: inline-block;
  font-size: 30px;
  background: white;
  color: black;
  margin-top: 130px;
  margin-left: 80px;
}

.exercise:hover .view-button {
  visibility: visible;
  opacity: 1;
}

.video:hover .view-button {
  visibility: visible;
  opacity: 1;
}

.monkey:hover .view-button {
  visibility: visible;
  opacity: 1;
}

.food:hover .view-button {
  visibility: visible;
  opacity: 1;
}

.mountain:hover .view-button {
  visibility: visible;
  opacity: 1;
}

.view-button {
  visibility: hidden;
  opacity: 0;
}

.project-button:hover {
  color: black;
  background: white;
  border-color: black;
}

.project-button-second:hover {
  color: black;
  background: white;
  border-color: black;
}