
html { 
    -webkit-font-smoothing: antialiased; 
}

body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif; 
}

a:visited { 
    color: #333333;
}

/* ---- NAVIGATION ---- */

.navbar-nav {
  float:none;
  margin: 0 auto;
  display: table;
  table-layout: fixed;
}
.navbar-default {
  background-color: #ffffff;
  border-color: transparent;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}
.navbar-default .navbar-brand img {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  color: #333333;
  font-size: 15px;
  font: 300 1em/1.5em 'Didot';
  font: Ultra-Light 300 1em/1.5em 'Didot';
  font: Ultra-Light 300 1em/1.5em 'Didot', serif;
  width: 100px;
  margin-top: -20px;
}
/*
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #ffffff;
}
*/
.navbar-default .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.02);
}
.navbar-default .navbar-toggle {
  background-color: #ffffff;
  border-color: transparent;
  border-radius: 0;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}
.navbar-toggle .icon-bar{
  background-color: #333333;
  height: 1px;
  width: 30px; 
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .nav li a {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  color: #333333;
  text-transform: capitalize;
  font-size: 14px;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  color: #00e5e5;
  outline: none;
}
.navbar-default .navbar-nav > .active > a {
  border-radius: 0;
  color: black;
  background-color: white;
}
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: black;
  background-color: #fec503;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: #ffffff;
    padding: -5px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  }
  .navbar-default .navbar-brand img {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    color: #333333;
    font-size: 15px;
    font: 300 1em/1.5em 'Didot';
    font: Ultra-Light 300 1em/1.5em 'Didot';
    font: Ultra-Light 300 1em/1.5em 'Didot', serif;
    width: 100px;
    margin-top: -20px;
  }
  .navbar-default .navbar-nav > .active > a {
    border-radius: 0;
  }
}
@media (min-width: 768px) {
  .navbar-default.affix {
    background-color: #ffffff;
    padding: 15px 0;
  }
  .navbar-default .nav li a {
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    color: #333333;
    text-transform: capitalize;
    font-size: 14px;
  }
  .navbar-default.affix .navbar-brand {
    font-size: 12px;
  }
}

/* ---- NAVIGATION ---- */


/* ---- HEADER ---- */

.header-image-position {
  margin-top: 50px;
}

.header-bg {
  background-image: url('../img/third-hero-image.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-size: 1348px;
}

.header-bg-position {
  padding-top: 200px;
  padding-bottom: 160px;
}

/* ---- HEADER ---- */


/* ---- MY NAME HEADING ---- */

.my-title-heading-position {
  margin-top: 80px;
}

.my-title-heading {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  color: #333333;
  font-size: 50px;
  line-height: 30px;
}

.my-name-heading {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  color: #333333;
  font-size: 17px;
}

.learn-more-button {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 18px;
  padding: 15px 45px;
  border-radius: 0;
  border-color: transparent;
  background: #222222;
  color: #ffffff;
}

/* ---- MY NAME HEADING ---- */

/* ---- THANK YOU ---- */

.my-container {
  padding-left: 52px;
  padding-right: 52px;
  border: 2px solid #ffffff;
}

.thank-you-bg {
  background-image: url('../img/paint2.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.thank-you-box-padding {
  padding-bottom: 780px;
}

.thank-you-title {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  color: #333333;
  font-size: 40px;
  padding-top: 200px;
  padding-left: 450px;
  padding-right: 450px;
  line-height: 80px;
}

.thank-you-text {
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333333;
  line-height: 28px;
}

.contact-me-button {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 18px;
  padding: 15px 45px;
  border-radius: 0;
  border-color: transparent;
  background: #222222;
  color: #ffffff;
}

/* ---- THANK YOU ---- */

/* ---- MODELS FIRST SECTION ---- */

.copyright-bykobrinphoto-adobe-stock-1 {
  background-image: url('../img/copyright-bykobrinphoto-adobe-stock-1.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-size: 250px;
}

.quote-box-padding-1 {
  padding-top: 500px;
}

.copyright-bykobrinphoto-adobe-stock-2 {
  background-image: url('../img/copyright-bykobrinphoto-adobe-stock-2.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-size: 250px;
}

.copyright-bykobrinphoto-adobe-stock-3 {
  background-image: url('../img/copyright-bykobrinphoto-adobe-stock-3.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-size: 250px;
}

/* ---- MODELS FIRST SECTION ---- */

/* ---- INTRODUCTION SECTION ---- */

.intro-text-bg-color {
  background-color: #ffffff;
}

.intro-box-text-padding {
  padding-top: 100px;
  padding-left: 40px;
  padding-right: 40px;
}

.intro-title {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 35px;
  color: #333333;
}

.quote-text {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  color: #333333;
  font-size: 20px;
}

.author-quote {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  color: #333333;
  font-size: 15px;
}

hr.style-intro {
  border-top: 1px solid #333333;
  height: 5px; 
  width: 600px;
}

.intro-text-style {
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #222222;
  line-height: 28px;
}

.intro-box-padding {
  padding-bottom: 750px;
}

.intro-text-bg-image {
  background-image: url('../img/bubbles.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.skills-text-bg-image {
  background-image: url('../img/skills.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 700px;
}

.skills-box-padding {
  padding-top: 400px;
  padding-bottom: 400px;
}

.skills-text-bg-color {
  background-color: #ffffff;
  margin-top: 140px;
}

.skills-box-text-padding {
  padding-top: 70px;
  padding-bottom: 90px;
  padding-left: 80px;
  padding-right: 80px;
}

.skills-title {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 35px;
  color: #333333;
}

hr.style-skills {
  border-top: 1px solid #333333;
  height: 1px; 
  width: 140px;
}

.skills-text-style {
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333333;
  line-height: 28px;
}

/* ---- INTRODUCTION SECTION ---- */

/* ---- MODELS SECOND SECTION ---- */


.copyright-bykobrinphoto-adobe-stock-4 {
  background-image: url('../img/copyright-bykobrinphoto-adobe-stock-4.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-size: 280px;
} 

.quote-box-padding-2 {
  padding-top: 500px;
}

.copyright-bykobrinphoto-adobe-stock-5 {
  background-image: url('../img/copyright-bykobrinphoto-adobe-stock-5.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-size: 280px;
} 

.copyright-bykobrinphoto-adobe-stock-6 {
  background-image: url('../img/copyright-bykobrinphoto-adobe-stock-6.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-size: 280px;
} 

/* ---- MODELS SECOND SECTION ---- */

/* ---- PORTFOLIO SECTION ---- */

.portfolio-bg-image {
  background-image: url('../img/white-feathers.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.portfolio-box-text-padding {
  padding-top: 365px;
  padding-bottom: 400px;
}

.portfolio-title {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 40px;
  color: #333333;
}

.portfolio-bottom-border {
  border-bottom: 15px solid #ffffff;
}

.portfolio-box-color {
  background-color: #ffffff;
  border-right: 15px solid #ffffff;
}

.portfolio-padding-space {
  padding-top: 100px;
  padding-bottom: 100px;
}

.copyright-Viacheslav-Iakobchuk-adobe-stock {
  background-image: url('../img/copyright-Viacheslav-Iakobchuk-adobe-stock.jpeg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  border-right: 15px solid #ffffff;
}

.copyright-neirfy-adobe-stock {
  background-image: url('../img/copyright-neirfy-adobe-stock.jpeg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  border-right: 15px solid #ffffff;
}

.monkey {
  background-image: url('../img/soumontha-rattanakone-monkey.jpeg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  border-right: 15px solid #ffffff;
}

.luna {
  background-image: url('../img/soumontha-rattanakone-noodles.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  border-right: 15px solid #ffffff;
}

.rainier {
  background-image: url('../img/soumontha-rattanakone-rainier.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  border-right: 15px solid #ffffff;
}

.makeup {
  background-image: url('../img/soumontha-rattanakone-beauty.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  border-right: 15px solid #ffffff;
}

.fortune {
  background-image: url('../img/soumontha-rattanakone-fortune-cookie.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  border-right: 15px solid #ffffff;
}

.bernard-ablola {
  background-image: url('../img/soumontha-rattanakone-bernard-ablola.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  border-right: 15px solid #ffffff;
}

.watercolor-lover {
  background-image: url('../img/soumontha-rattanakone-watercolor.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  border-right: 15px solid #ffffff;
}

.m3 {
  background-image: url('../img/m3.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  border-right: 15px solid #ffffff;
}

.fox {
  background-image: url('../img/soumontha-rattanakone-fox-gallery.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  border-right: 15px solid #ffffff;
}

.couple {
  background-image: url('../img/soumontha-rattanakone-citycouple.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  border-right: 15px solid #ffffff;
}

.heart {
  background-image: url('../img/soumontha-rattanakone-eyewoman.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  border-right: 15px solid #ffffff;
}

img {
  pointer-events: none;
}

/* ---- PORTFOLIO SECTION ---- */

/* ---- CONTACT SECTION ---- */


#contact-padding {
  padding: 150px; 
}

.contact-heading-one {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 40px;
  color: #333333;
}

input[type=text] {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 0;
}

input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 0;
  background-color: #f8f8f8;
  resize: none;
}

.form-control {
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset] {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 18px;
  padding: 15px 45px;
  border-radius: 0;
  border-color: transparent;
  background: #222222;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;   
}

.contact-label {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 15px;
  color: #333333;
}

/* ---- CONTACT SECTION ---- */

/* ---- ALL RIGHTS RESERVED SECTION ---- */

.all-rights-reserved {
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  color: #43464b;
  font-size: 15px;
  padding: 25px;
  text-transform: capitalize;
}

/* ---- ALL RIGHTS RESERVED SECTION ---- */