@font-face {
    font-family: 'MyWebFont';
    src: url('webfont.woff2') format('woff2'),
         url('webfont.woff') format('woff'),
         url('webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}